In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [3]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Count total players

In [53]:
total_players = len(purchase_data.SN.value_counts())
total_player_dict = [{"Total Player": total_players}]

total_player_df = pd.DataFrame(total_player_dict)
total_player_df.head()

   Total Player
0           576

### Purchase analysis

In [20]:
unique_item = len(purchase_data["Item Name"].value_counts())
avg_price = purchase_data.Price.mean()
num_of_purchase = purchase_data["Purchase ID"].count()
total_revenue = purchase_data.Price.sum()

type(unique_item)

data_insert = {'Number of Unique Items' : [unique_item], 'Average Price' : [avg_price], 
               'Number of Purchases': [num_of_purchase], 'Total Revenue' : [total_revenue]}
purchase_analysis_df = pd.DataFrame(data = data_insert)

purchase_analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographic

In [61]:
#male users calculation
male_users_df = purchase_data.loc[purchase_data["Gender"] == "Male"]
number_male_users = len(male_users_df.SN.value_counts())
percentage_male= "{:.2%}".format(number_female_users/ total_players)
                 
#female users calculation
female_users_df = purchase_data.loc[purchase_data["Gender"] == "Female"]
number_female_users = len(female_users_df.SN.value_counts())  
percentage_female= "{:.2%}".format(number_female_users/ total_players)


#other/ nondisclosed calculation
none_disclosed_df = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]
none_disclosed_users = len(none_disclosed_df.SN.value_counts())
percentage_none_disclosed = "{:.2%}".format(none_disclosed_user/total_players)

gender_df = pd.DataFrame({'Gender': ['Male', 'Female', 'Other/ Non-disclosed'],
            'Total Count': [number_male_users, number_female_users, none_disclosed_users],
            'Percentage of Players': [percentage_male, percentage_female, percentage_none_disclosed]})
gender_df.set_index('Gender')

                      Total Count Percentage of Players
Gender
Male                          484                14.06%
Female                         81                14.06%
Other/ Non-disclosed           11                 1.91%