In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
# "${:,.2f}". format(amount)

# Count total players

In [3]:
total_players = len(purchase_data.SN.value_counts())
total_player_dict = [{"Total Player": total_players}]

total_player_df = pd.DataFrame(total_player_dict)
total_player_df.head()

   Total Player
0           576

# Purchase analysis

In [4]:
unique_item = len(purchase_data["Item Name"].value_counts())
avg_price = purchase_data.Price.mean()
num_of_purchase = purchase_data["Purchase ID"].count()
total_revenue = purchase_data.Price.sum()


data_insert = {'Number of Unique Items' : [unique_item], 'Average Price' : [avg_price], 
               'Number of Purchases': [num_of_purchase], 'Total Revenue' : [total_revenue]}
purchase_analysis_df = pd.DataFrame(data = data_insert)

purchase_analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

# Gender Demographic

In [5]:
#male users calculation
male_users_df = purchase_data.loc[purchase_data["Gender"] == "Male"]
number_male_users = len(male_users_df.SN.value_counts())
percentage_male= "{:.2%}".format(number_male_users/ total_players)
                 
#female users calculation
female_users_df = purchase_data.loc[purchase_data["Gender"] == "Female"]
number_female_users = len(female_users_df.SN.value_counts())  
percentage_female= "{:.2%}".format(number_female_users/ total_players)


#other/ nondisclosed calculation
none_disclosed_df = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]
none_disclosed_users = len(none_disclosed_df.SN.value_counts())
percentage_none_disclosed = "{:.2%}".format(none_disclosed_users/total_players)

gender_df = pd.DataFrame({'Gender': ['Male', 'Female', 'Other/ Non-disclosed'],
            'Total Count': [number_male_users, number_female_users, none_disclosed_users],
            'Percentage of Players': [percentage_male, percentage_female, percentage_none_disclosed]})
gender_df.set_index('Gender')

                      Total Count Percentage of Players
Gender
Male                          484                84.03%
Female                         81                14.06%
Other/ Non-disclosed           11                 1.91%

# Purchase Analysis (genders)

In [6]:
#filter the df to show only male users
male_purchase_analysis_df = purchase_data.loc[purchase_data.Gender == "Male"]

In [7]:
male_purchase_count = len(male_purchase_analysis_df['Purchase ID'])
avg_male_purchase_price = male_purchase_analysis_df.Price.mean()
total_male_purchase = male_purchase_analysis_df.Price.sum()
avg_purchase_per_male = total_male_purchase/ number_male_users

In [8]:

#filter the df to show only female users
female_purchase_analysis_df = purchase_data.loc[purchase_data.Gender == "Female"]

In [9]:
female_purchase_count = len(female_purchase_analysis_df['Purchase ID'])
avg_female_purchase_price = female_purchase_analysis_df.Price.mean()
total_female_purchase = female_purchase_analysis_df.Price.sum()
avg_purchase_per_female = total_female_purchase/ number_female_users

In [10]:
#filter the df to show other/non-disclosed users
other_purchase_analysis_df = purchase_data.loc[purchase_data.Gender == "Other / Non-Disclosed"]

In [11]:
other_purchase_count = len(other_purchase_analysis_df['Purchase ID'])
avg_other_purchase_price = other_purchase_analysis_df.Price.mean()
total_other_purchase = other_purchase_analysis_df.Price.sum()
avg_purchase_per_other = total_other_purchase/ none_disclosed_users

In [12]:

#construct a data frame for analysis
gender_purchase_df = pd.DataFrame({'Gender': ['Male', 'Female', 'Other/ Non-disclosed'],
              'Purchase Count': [male_purchase_count, female_purchase_count, other_purchase_count],
              'Average Purchase Price': ["${:,.2f}". format(avg_male_purchase_price), "${:,.2f}". format(avg_female_purchase_price), "${:,.2f}". format(avg_other_purchase_price)],
              'Total Purchase Value': ["${:,.2f}". format(total_male_purchase), "${:,.2f}". format(total_female_purchase), "${:,.2f}". format(total_other_purchase)],
              'Avg Total Purchase per Person': ["${:,.2f}". format(avg_purchase_per_male), "${:,.2f}". format(avg_purchase_per_female), "${:,.2f}". format(avg_purchase_per_other)]})
gender_purchase_df.set_index("Gender")

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other/ Non-disclosed,15,$3.35,$50.19,$4.56

# Age Demographic

In [13]:
#create the bin, max 200 in case someone try to be god. There are 8 bins
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 200]

#there are 8 age groups
age_group = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">40"]

purchase_data["Age Group"] = pd.cut(purchase_data.Age, bins, labels=age_group, right=True)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,>40
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [14]:
#count_10 means count the users (unique, skip the repeated names of users) 

#filter for younger than 10 users
under_10 = purchase_data.loc[purchase_data["Age Group"] == "<10"]
count_10 = len(under_10.SN.value_counts())
percentage_10 = count_10/total_players


#filter for 10-14
under_14 = purchase_data.loc[purchase_data["Age Group"] == "10-14"]
count_14 = len(under_14.SN.value_counts())
percentage_14 = count_14/total_players

#filter for 15-19
under_19 = purchase_data.loc[purchase_data["Age Group"] == "15-19"]
count_19= len(under_19.SN.value_counts())
percentage_19 = count_19/total_players

#filter for 20-24
under_24 = purchase_data.loc[purchase_data["Age Group"] == "20-24"]
count_24 = len(under_24.SN.value_counts())
percentage_24 = count_24/total_players

#filter for 25-29
under_29 = purchase_data.loc[purchase_data["Age Group"] == "25-29"]
count_29 = len(under_29.SN.value_counts())
percentage_29 = count_29/total_players

#filter for 30-34
under_34 = purchase_data.loc[purchase_data["Age Group"] == "30-34"]
count_34 = len(under_34.SN.value_counts())
percentage_34 = count_34/total_players

#filter for 35-39
under_39 = purchase_data.loc[purchase_data["Age Group"] == "35-39"]
count_39 = len(under_39.SN.value_counts())
percentage_39 = count_39/total_players

#filter for 40+
above_40 = purchase_data.loc[purchase_data["Age Group"] == ">40"]
count_40 = len(above_40.SN.value_counts())
percentage_40 = count_40/total_players

In [15]:
age_demographics_df = pd.DataFrame({"Total Count" : [count_10, count_14,count_19, count_24, count_29, count_34, count_39, count_40],
             "Percentage of Players": [percentage_10, percentage_14, percentage_19, percentage_24, percentage_29,
                                      percentage_34, percentage_39, percentage_40]}, index=age_group)
age_demographics_df["Percentage of Players"] = age_demographics_df['Percentage of Players'].map("{:,.2%}". format)
age_demographics_df

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
>40             12                 2.08%

# Purchas analysis (age)

In [16]:
# need to find the purchase count, avg price, total value of purchases, total avg per USER.

# pc = "purchase count." I.E pc_10 means purchase count for the group age under 10
pc_10 = len(under_10["Purchase ID"].value_counts())
pc_14 = len(under_14["Purchase ID"].value_counts())
pc_19 = len(under_19["Purchase ID"].value_counts())
pc_24 = len(under_24["Purchase ID"].value_counts())
pc_29 = len(under_29["Purchase ID"].value_counts())
pc_34 = len(under_34["Purchase ID"].value_counts())
pc_39 = len(under_39["Purchase ID"].value_counts())
pc_40 = len(above_40["Purchase ID"].value_counts())

#ap = "average purchase price." ap_10 means average purchase price for the group age under 10
ap_10 = under_10.Price.mean()
ap_14 = under_14.Price.mean()
ap_19 = under_19.Price.mean()
ap_24 = under_24.Price.mean()
ap_29 = under_29.Price.mean()
ap_34 = under_34.Price.mean()
ap_39 = under_39.Price.mean()
ap_40 = above_40.Price.mean()

#tpv = "total purchase value." tpv_10 means total purchase value of the age group under 10
tpv_10 = under_10.Price.sum()
tpv_14 = under_14.Price.sum()
tpv_19 = under_19.Price.sum()
tpv_24 = under_24.Price.sum()
tpv_29 = under_29.Price.sum()
tpv_34 = under_34.Price.sum()
tpv_39 = under_39.Price.sum()
tpv_40 = above_40.Price.sum()

#atpp = "avg total purchase per person." Dividing by the number of USERS, not the purchase count
atpp_10 = tpv_10/count_10
atpp_14 = tpv_14/count_14
atpp_19 = tpv_19/count_19
atpp_24 = tpv_24/count_24
atpp_29 = tpv_29/count_29
atpp_34 = tpv_34/count_34
atpp_39 = tpv_39/count_39
atpp_40 = tpv_40/count_40

#construct the data frame
pd.DataFrame({"Purchase Count" : [pc_10,pc_14,pc_19, pc_24,pc_29, pc_34, pc_39,pc_40],
             "Average Purchase Price": ["${:,.2f}". format(ap_10),
                                       "${:,.2f}". format(ap_14),
                                       "${:,.2f}". format(ap_19),
                                       "${:,.2f}". format(ap_24),
                                       "${:,.2f}". format(ap_29),
                                       "${:,.2f}". format(ap_34),
                                       "${:,.2f}". format(ap_39),
                                       "${:,.2f}". format(ap_40)],
             "Total Purchase Value": ["${:,.2f}". format(tpv_10),
                                     "${:,.2f}". format(tpv_14),
                                     "${:,.2f}". format(tpv_19),
                                     "${:,.2f}". format(tpv_24),
                                     "${:,.2f}". format(tpv_29),
                                     "${:,.2f}". format(tpv_34),
                                     "${:,.2f}". format(tpv_39),
                                     "${:,.2f}". format(tpv_40)],
             "Avg Total Purchase Per User": ["${:,.2f}". format(atpp_10),
                                            "${:,.2f}". format(atpp_14),
                                            "${:,.2f}". format(atpp_19),
                                            "${:,.2f}". format(atpp_24),
                                            "${:,.2f}". format(atpp_29),
                                            "${:,.2f}". format(atpp_34),
                                            "${:,.2f}". format(atpp_39),
                                            "${:,.2f}". format(atpp_40),]}, index=age_group)

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per User
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
>40,13,$2.94,$38.24,$3.19

# Top Spenders

In [17]:
# create 2 tables: 
# 1 with sort_value to sort by the number of purchases
# 2 with mean() and sum() to find avg price and total
#merge those 2 on the SN

#create first table with Price and SN, to do the calculations of Average and Total
spenders = purchase_data[["SN", "Price"]]
spenders_total_price = spenders.groupby(['SN']).sum()
spenders_avg_price = spenders.groupby(['SN']).mean()

top_spenders = spenders_avg_price.merge(spenders_total_price, how="outer", on="SN")
top_spenders = top_spenders.rename(columns={"Price_x" : "Average Purchase Price", "Price_y" : "Total Purchase Value"})



#Second table with Purchase ID, find out how many purchase an user make
spenders_count = purchase_data[["SN", "Purchase ID"]]

rank_spenders = spenders_count.groupby(['SN']).count()
rank_spenders = rank_spenders.rename(columns={"Purchase ID" : "Purchase Count"})

#merge the rank_spender table and the top_spender table to get the desirable result
top_spenders = rank_spenders.merge(top_spenders, how="outer", on="SN")
top_spenders = top_spenders.sort_values("Total Purchase Value", ascending=False)

#format to currency
top_spenders["Average Purchase Price"] = top_spenders["Average Purchase Price"].map("${:,.2f}". format)
top_spenders["Total Purchase Value"] = top_spenders["Total Purchase Value"].map("${:,.2f}". format)

top_spenders.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

# Most popular Items

In [18]:
item_df = purchase_data[["Item ID", "Item Name", "Price"]]
item_merger= purchase_data[["Item ID", "Price"]]
pop_item_df = item_df.groupby(["Item ID", "Item Name"]).count()
pop_item_df["Total Purchase Value"] = item_df.groupby(["Item ID", "Item Name"]).sum()

pop_item_df = pop_item_df.rename(columns={"Price" : "Purchase Count"})
pop_item_df["Price"] = pop_item_df["Total Purchase Value"] / pop_item_df["Purchase Count"]

pop_item_df.Price = pop_item_df.Price.map("${:,.2f}". format)
pop_item_df["Total Purchase Value"] = pop_item_df['Total Purchase Value'].map("${:,.2f}". format)

pop_item_df.sort_values(by="Purchase Count", ascending=False)

,,Purchase Count,Total Purchase Value,Price
Item ID,Item Name,,,
92,Final Critic,13,$59.99,$4.61
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$50.76,$4.23
145,Fiery Glass Crusader,9,$41.22,$4.58
132,Persuasion,9,$28.99,$3.22
108,"Extraction, Quickblade Of Trembling Hands",9,$31.77,$3.53
...,...,...,...,...
42,The Decapitator,1,$1.75,$1.75
51,Endbringer,1,$4.66,$4.66
118,"Ghost Reaver, Longsword of Magic",1,$2.17,$2.17
104,Gladiator's Glaive,1,$1.93,$1.93
91,Celeste,1,$4.17,$4.17

# Most Profitable Item

In [23]:
pop_item_df.sort_values(by="Total Purchase Value", ascending=False)

,,Purchase Count,Total Purchase Value,Price
Item ID,Item Name,,,
63,Stormfury Mace,2,$9.98,$4.99
29,"Chaos, Ender of the End",5,$9.90,$1.98
173,Stormfury Longsword,2,$9.86,$4.93
38,"The Void, Vengeance of Dark Magic",4,$9.48,$2.37
143,Frenzied Scimitar,6,$9.36,$1.56
...,...,...,...,...
106,Crying Steel Sickle,3,$10.23,$3.41
151,Severance,3,$10.20,$3.40
110,Suspension,7,$10.08,$1.44
104,Gladiator's Glaive,1,$1.93,$1.93
42,The Decapitator,1,$1.75,$1.75